body {
  margin: 0;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
}
body.ready {
  background-color: #000;
}
video, img {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
#indicators {
  font-family: monospace;
  color: #fff;
  background-color: black;
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 10px;
  width: auto;
  height: auto;
  z-index: 100;
}
.md {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  font-size:200%;
  color: white;
}